@use '../abstract/variables';

.loader-container {
   height: 85vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loader {
   border: 10px solid #eee;
   border-top: 10px solid variables.$clr-primary;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
