@use '../abstract/_variables';
@use '../abstract/_mixins';

// Section 1

.contact-section1 {
   height: 420px;
   width: 100vw;
   @media #{variables.$large-down} {
      height: auto;
   }

   &__container {
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media #{variables.$large-down} {
         display: flex;
         flex-direction: column;
      }
   }
   &__infos {
      padding: 0 180px 0 200px;
      @media #{variables.$xlscreen-down} {
         padding: 0 20% 0 50px;
      }
      @media #{variables.$large-down} {
         text-align: center;
         padding: 0 50px;
         width: 100vw;
         height: 330px;
      }

      h2 {
         font-size: 28px;
         margin: 90px 0 30px 5px;
         font-family: variables.$font-headings;
         white-space: nowrap;
         @media #{variables.$large-down} {
            margin-top: 60px;
            font-size: 24px;
         }
      }
      p {
         font-size: 14px;
         line-height: 1.8;
      }
   }
   &__phone {
      display: flex;
      align-items: center;
      margin-top: 45px;
      margin-bottom: 60px;
      margin-left: 10px;
      gap: 2rem;
      @media #{variables.$large-down} {
         justify-content: center;
         margin-left: 0;
         margin-top: 30px;
      }
      img {
         @media #{variables.$large-down} {
            height: 30px;
         }
      }

      h3 {
         font-size: 24px;
         font-family: variables.$font-headings;
         margin-top: -5px;
         @include mixins.gradient-text;
         white-space: nowrap;
      }
   }
}

// Section 2

.section2andform-container {
   display: flex;
   @media #{variables.$large-down} {
      flex-direction: column;
      margin-top: 1px;
   }
}

.contact-section2 {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 50vw;
   @media #{variables.$large-down} {
      width: 100vw;
   }
   & img {
      height: 600px;
      width: 50vw;
      object-fit: cover;
      @media #{variables.$large-down} {
         width: 100vw;
         height: 360px;
      }
   }
   &__infos {
      position: absolute;
      height: 600px;
      width: 50vw;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      color: variables.$clr-white;
      padding: 0 180px 0 200px;
      @media #{variables.$xlscreen-down} {
         padding: 0 20% 0 50px;
      }
      @media #{variables.$large-down} {
         text-align: center;
         padding: 0 50px;
         width: 100vw;
         height: 360px;
      }
      h2 {
         font-size: 28px;
         margin: 150px 0 30px 5px;
         font-family: variables.$font-headings;
         white-space: nowrap;
         @media #{variables.$large-down} {
            margin-top: 60px;
            font-size: 24px;
         }
      }
      p {
         font-size: 14px;
         line-height: 1.8;
      }
      h3 {
         font-size: 18px;
         font-family: variables.$font-headings;
         margin-top: 45px;
         margin-bottom: 60px;
      }
   }
}


.contact-form {
   padding: 5rem;
   height: 1000px;
   width: 50vw;
   @include mixins.background-gradient;
   @media #{variables.$large-down} {
      width: 100vw;
   }
}
