@use '../abstract/_variables';
@use '../abstract/_mixins';

/* Header */

header {
   width: 100vw;
   z-index: 10;
}

.header {
   height: 430px;
   position: relative;
   background-image: url('../../assets/texture.webp');
   object-fit: cover;
   @media #{variables.$large-down} {
      height: 220px;
   }
   &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-59%, -51%);
      @media #{variables.$large-down} {
         left: 48px;
         top: 4px;
         transform: translate(0);
         z-index: 10;
         &.fixed {
            position: fixed;
         }
      }
      @media #{variables.$small-down} {
         left: 25px;
      }
      img {
         width: 172px;
         height: 200px;
         @media #{variables.$xlscreen-down} {
            width: 136px;
         }
      }
   }
   &__nav {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 190px;
      gap: 30%;
      @media #{variables.$xlscreen-down} {
         gap: 22%;
         padding: 0 50px;
      }
      @media #{variables.$large-down} {
         display: none;
         flex-direction: column;
         gap: 0;
         position: fixed;
         background-image: url('../../assets/texture.webp');
         background-repeat: cover;
         padding: 230px 0 20%;
         &.display {
            display: flex;
            align-items: center;
            justify-content: center;
         }
      }
      .nav-left,
      .nav-right {
         padding-top: 16px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         max-width: 450px;
         width: 100%;
         @media #{variables.$large-down} {
            flex-direction: column;
            max-width: 100%;
            padding: 0;
            & a {
               margin-top: 5%;
            }
         }
      }
      .nav-left a:nth-child(1) {
         margin-top: 0;
      }
      .nav-right {
         margin-left: auto;
      }
      .navlink {
         white-space: nowrap;
         font-family: variables.$font-headings;
         font-size: 20px;
         padding: 5px;
         &:hover {
            transition: variables.$transition;
            color: variables.$clr-primary;
         }
         &.active {
            transition: variables.$transition;
            @include mixins.gradient-text;
         }
         @media #{variables.$large-down} {
            padding-top: 20px;
         }
      }
   }
   &__mobile {
      position: absolute;
      top: 94px;
      right: 52px;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      display: none;
      @media #{variables.$large-down} {
         display: flex;
         &.fixed {
            position: fixed;
         }
      }
      @media #{variables.$small-down} {
         right: 25px;
      }
      h2 {
         font-family: variables.$font-headings;
         font-size: 28px;
         margin-top: -6px;
      }
      img {
         cursor: pointer;
      }
   }
}

.header-end {
   height: 25px;
   width: 100%;
   @include mixins.background-gradient;
}
