@use '../abstract/_variables';

@mixin gradient-text {
   background-image: linear-gradient(
      90deg,
      variables.$clr-primary,
      variables.$clr-secondary
   );
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   -webkit-text-color: transparent;
}

@mixin background-gradient {
   background: linear-gradient(
      90deg,
      variables.$clr-primary,
      variables.$clr-secondary
   );
   background-repeat: no-repeat;
}
